#title {
    font-size: 300%;
    font-weight: blod;
    font-style: italic;
    margin-left: 1%;
    margin-bottom: 50px;
}

#createPost {
    float: right;
    border-radius: 10px;
}

.post {
    border: solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}