<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="../static/css/blog.css" rel="stylesheet" type="text/css"/>
        
        <title>Blog Writer</title>
    </head>

    <body>
        <a href="/blog">
            <button class="AuthorButton">Blog</button>
        </a>

        Add Post:
        <form method="POST">
            <input type="text" name="title" placeholder="title:"/>

            <br/>

            <textarea name="context" placeholder="context:"></textarea>

            <br/>

            <button type="submit">Submit</button>
        </form>

        <br/>

        Delete Post:
        <form method="POST">
            <input type="text" name="postTitle" placeholder="title:"/>

            <br/>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>