<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="../static/css/blog.css" rel="stylesheet" type="text/css"/>

        <title>Main</title>
    </head>

    <body>
        <h1 id="title">
            {{ blog_credentials.blog_name }}

            <a href="/login">
                <button id="createPost">Create Post</button>
            </a>
        </h1>

        <!--loop through the posts and reverse it-->
        {% for post in posts|reverse %}
            <div class="post">
                <h1>{{ post.title }}</h1>

                <p>{{ post.context }}</p>

                <hr/>

                {% for comment in comments %}
                    <!--display the right comment for the right post-->
                    {% if comment.post_id == post.id %}
                        <p>Anonymous: {{ comment.context }}</p>
                    {% endif %}
                {% endfor %}

                <form method="POST">
                    <textarea class="comment" name="comment" placeholder="Comment:"></textarea>
                    <input type="hidden" name="postId" value="{{ post.id }}"> <!--used to retrieve the post id-->

                    <br/>

                    <button class="submit" type="submit">Submit</button>
                </form>
            </div>
        {% endfor %}
    </body>

    <footer>
        Create By: Henry Ye Cao | Version: 1.0.0
    </footer>
</html>